.hero-bg{
    background: rgb(242, 248, 253);
}
.text-dot{
    color:  #9C8CFF;
}
.main-card{
    box-shadow: 0px 0px 10px 10px rgb(241, 238, 238);
}
.text-card1{
    margin-left: -15px;
}
.img-movie{
     margin-top: 30%;
     margin-left: 38%;
}
.color-progress-bar{
    background-color: rgb(170, 123, 47) !important;
}
@media only screen and (min-width:1024px) {
    .main-card{
        margin-top: -27vh;
    }
}